html,body {
    font-family:'Capriola',sans-serif;
    font-size: .92em;
    background-color: #fcfcfc;
}
a {
    text-decoration:none;
    color: #0077ee;
}
a:hover {
    text-decoration:none;
    color: #65b2ff;
}
img {
    width:100%;
    max-width:100px;
    border:1px solid #e0e0e0;
}
h3 {
    text-align: center;
    letter-spacing: 7px;
    margin-top:5px;
    margin-bottom:15px;
}
div#app {
    padding: 10px 20px 10px 20px;
}
div .reddit {
    margin-bottom: 25px;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    max-width: 600px;
}
div .reddit .row {
    position: relative;
    z-index: 1;
    margin-bottom: 5px;
    background-color: #f0f0f0;
    border-radius: 5px;
    border: 1px solid #c8c8c8;
    padding: 4px 4px 4px 4px;
    text-shadow:
        -1px -1px 0 #fcfcfc,
        1px -1px 0 #fcfcfc,
        -1px 1px 0 #fcfcfc,
        1px 1px 0 #fcfcfc,
        -1px -1px 15px #f0f0f0,
        1px -1px 15px #f0f0f0,
        -1px 1px 15px #f0f0f0,
        1px 1px 15px #f0f0f0;
}
div .reddit .row .bg {
    background-repeat: repeat;
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: .225;
    width: 100%;
    height: 100%;
}
div .stats {
    border-top: 1px solid #e0e0e0;
    font-size: .80em;
}
div .reddit .row:hover {
    background-color: #f6f6f6;
}
div .settings {
    background-color: #f6f6f6;
    border-radius: 5px;
    border: 2px solid #f0f0f0;
    padding: 5px 5px 5px 5px;
    max-width: 600px;
}
input[type="submit"],
input[type="text"],
input[type="url"],
input[type="number"] {
    height: 30px;
    line-height: 30px;
    padding: 0 10px 0;
    width: 100%;
}
input[type="checkbox"] {
    height: 15px;
    width: 15px;
}
hr {
    margin-top:.5rem;
    margin-bottom:.5rem;
}
.centered {
    float: none;
    margin: 0 auto;
}
.loading {
    text-align: center;
}
.spinner {
    width: 20px;
    height: 20px;
    margin: 0 auto;
    background-color: #666;
    border-radius: 100%;
    -webkit-animation: scaleOut 1s infinite ease-in-out;
    animation: scaleOut 1s infinite ease-in-out;
}
@-webkit-keyframes scaleOut {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0); }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0; }
}
@keyframes scaleOut {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0); }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0; }
}