html,body {
    font-family:'Capriola',sans-serif;
    font-size: .92em;
    background-color: #fcfcfc;
}
a {
    text-decoration:none;
    color: #0088FF;
}
a:hover {
    color: #58b2ff;
    text-decoration:none;
}
h6 {
    text-align: center;
}
form {
    margin: 0;
}
div#app {
    padding: 10px 10px 10px 10px;
}
div .reddit {
    margin-bottom: 25px;
    background-color: #f6f6f6;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    border: 2px solid #f0f0f0;
}
div .score {
    font-size: .85em;
}
div .comments {
    font-size: .65em;
    overflow: hidden;
}
div .reddit .row {
    margin-bottom: 5px;
    background-color: #f0f0f0;
    border-radius: 5px;
    border: 1px solid #e0e0e0;
}
div .reddit .row:hover{
    background-color: #f6f6f6;
}
div .settings {
    background-color: #f6f6f6;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    border: 2px solid #f0f0f0;
}
div .right {
    text-align: right;
}
input[type="submit"] {
    padding: 0 10px;
}
input[type="submit"],
input[type="text"],
input[type="url"],
input[type="number"] {
    height: 30px;
    line-height: 30px;
    padding: 0 10px 0;
}
hr {
    margin-top:1rem;
    margin-bottom:1rem;
}